<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div>
        <h1>Ссылки на все страницы приложения</h1>
        <h5>Данное приложение было создано в учебных целях с помощью фреймворка Flask</h5>
        <ol>
            <li><a href="{{ url_for('courses', id=1) }}">Изменяющая строка запроса в зависимости от номера курса</a></li>
            <li><a href="{{ url_for('get_users') }}">Список добавленных пользователей в json-чик</a></li>
            <li><a href="{{ url_for('get_user', id=626) }}">Информация о конкретном пользователе в зависимости от его id в json-чике</a></li>
            <li><a href="{{ url_for('user_post') }}">Добавление нового пользователя в json-чик</a></li>
            <li><a href="{{ url_for('edit_user', id=626) }}">Редактирование имени пользователя в зависимости от его id, который у него указан в json-чике</a></li>
            <li>
                <div>
                    В адресной строке смени цифру между users/1/delete на id пользователя и ты удалишь его из json-чика.
                    <br>
                    Посмотреть id пользователя можно перейдя по ссылке в пункте 2
                    <br>
                <a href="{{ url_for('delete_user', id=1) }}">Удаление пользователя из json-чика по его id</a>
                </div>
            </li>
            <li><a href="{{ url_for('login') }}">Залогинить пользователя через session</a></li>
            <li><a href="{{ url_for('logout') }}">Разлогинить пользователя. Удалить из session</a></li>
        </ol>
    </div>
</body>
</html>
