<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование никнейма</title>
</head>
<body>
<form action="{{ url_for('patch_user', id=user.id) }}" method="post">
    <div>
      <label>
          Nickname *
          <input type="text" name="nickname" value="{{ user.nickname }}">
      </label>
      {% if errors %}
          <div>{{ errors.nickname }}</div>
      {% endif %}
    </div>
    <input type="submit" value="Update">
</form>
</body>
</html>
